nav.navbar {
   background-color: #fff;
   height: 10vh;   
   display: flex;
   justify-content: center;
   align-items: flex-end; 
}

.content {
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    height: 10vh;
    color: #356CB1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;   
}

.default {
    background-image: none;
    background-color: #356CB1;
}

.day-rainy {
    background-image: url('../assets/svg/day-rainy.svg');
    color: #fff
}

.night-rainy {
    background-image: url('../assets/svg/night-rainy.svg');
    color: #fff
}

.day-cloudy {
    background-image: url('../assets/svg/day-cloudy.svg');
    color: #898E99;
}

.night-cloudy {
    background-image: url('../assets/svg/night-cloudy.svg');
    color: #fff
}

.shiny {
    background-image: url('../assets/svg/shiny.svg');
    color: #fff;
}

.night {
    background-image: url('../assets/svg/night.svg');
    color: #fff;
}

.snow {
    background-image: url('../assets/svg/snow.svg');
    color: #fff
}

@media screen and (max-width: 768px) {
    .content {
        height: 85vh;
    }

    .footer {
        min-height: 1rem;
    }
}