nav.navbar {
   height: 7vh; 
   background-color: #182852;   
}

.content {
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    height: 13vh;
    color: #356CB1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;

    // span {
    //     margin-top: 20px;
    // }
}

.rainy {
    background-image: url('../assets/svg/rainy.svg');
}

.shiny {
    background-image: url('../assets/svg/shiny.svg');
}

.cloudy {
    background-image: url('../assets/svg/cloudy.svg');
}

.night {
    background-image: url('../assets/svg/night.svg');   
}

.snow {
    background-image: url('../assets/svg/snow.svg');
}

@media screen and (max-width: 768px) {
    .content {
        height: 85vh;
        background-image: none;
        background-color: #1E3266; 
    }

    .footer {
        min-height: 1rem;
    }
}